body {
    height: 100%;
    margin: 0;
    padding: 0;
}

body{
    background-color: rgb(51, 135, 168);
    font-family:pixelify sans;
    
}

#screen{
    background-color: rgb(255, 255, 255);
    height: 500px;
    width: 1345px;
    display: flex;
    margin: auto;
    margin-top: 5px;

    border:4px solid black ;
}

#playerArea{
    width: 50%;
    display: flex;
}

#comArea{
    width: 50%;
    display: flex;
    justify-content: end;
}

img{
    width: 100px;
    height: 100px;
    margin: 5px;
}

.playerFigures:hover{
    border: 4px dashed black;
}

#playerChoice{
    margin-top: auto;
    margin-bottom: auto;
    height: 310px;
    width: 100px;
}

#comChoice{
    transform: scaleX(-1);
    margin-top: auto;
    margin-bottom: auto;
    height: 310px;
    width: 100px;
}

#hudArea{
    display: flex;
    height: 120px;
}

#playerCounter, #comCounter{
    background-color: white;
    margin: 5px;
    width: 33.33%;
    border: 4px solid black;
}

#playButtonArea{
    text-align: center;
    background-color: white;
    margin: 5px;
    width: 33.33%;
    border: 4px solid black;
}